@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
}
.app {
  position: fixed;
}

/* Border Animations */

@keyframes border-pulse {
  50% {
    border-color: rgba(255, 255, 255, 0);
  }
}

.owned-block {
  border: 2px solid red;
  animation: border-pulse 2s infinite;
}

/* Canvas */

#semoniaGameCanvas {
  @apply border-transparent border-opacity-75 rounded;
  /* position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 75%;
}

/* Semonia Grid */

.semonia-block-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
  /* transform: rotateX(40deg) rotateZ(45deg); */
}

.semonia-block-container-item {
  aspect-ratio: 1 / 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-canvas {
  image-rendering: pixelated;
  position: absolute;
}

/* Fonts */

.bangers-font {
  font-family: "Bangers";
}

/* Daisy UI Mods */

.navbar {
  @apply min-h-4;
  @apply p-2;
}
