@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  overflow: hidden;
  position: fixed;
}

/* Canvas */

#semoniaGameCanvas {
  @apply border-transparent border-opacity-75 rounded;
  /* position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 75%;
}

/* Semonia Grid */

.semonia-block-container {
  /* @apply ml-20 mt-10; */
}
.semonia-block-container {
  /* max-width: 70%; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1px;
  overflow: hidden;
  /* transform: rotateX(40deg) rotateZ(45deg); */
}

.semonia-block-container-item {
  aspect-ratio: 1 / 1;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-canvas {
  image-rendering: pixelated;
  position: absolute;
}

/* Fonts */

.bangers-font {
  font-family: "Bangers";
}

/* Daisy UI Mods */

.navbar {
  @apply min-h-4;
  @apply p-2;
}
